error.txt
libf*
libo*
libp*
libv*
Op*
SDL*
sola*
w*
z*
.DS_Store
.*.swp
ChangeLog
check-license.sh*
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CMakeLists.txt
data/
data.solarus
license.txt
Makefile
make_quest_package
make_zip
README.txt
tunics
